
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/checkout" method="post">
      Name of item: <input type="text" id="item" name="item">
      <input id="submit" type="submit" value="submit">
    </form>
  </body>
</html>
